@font-face {
    font-family: 'PT Sans';
    src: url('~@/assets/fonts/PTSans-Regular.eot');
    src: url('~@/assets/fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/PTSans-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/PTSans-Regular.woff') format('woff'),
        url('~@/assets/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}